{% extends 'base/main.html' %}
{% block title%} Task List{%endblock%}
{% block page%} Task Lists{%endblock%}
{% block content %}

<h3>Are you sure you want to delete this task ({{task}})</h3>

<form method="POST">
    {% csrf_token %}

   
    

{% endblock %}
{% block add%}
<div class="d-block text-right card-footer">
<a class="btn btn-primary"   href="{% url 'tasks' %}"> Back <a/> 
<input  class="btn btn-primary" type="submit" value="Delete" />
</form

</div>
{% endblock%}